github "lsh-silpion/ref-OpenHealthCardKit" ~> 5.5.1
github "SnapKit/SnapKit" "5.0.1"
github "swiftsocket/SwiftSocket" "2e6ba27140a29fae8a6331ba4463312e0c71a6b0"
github "lsh-silpion/R.swift.Library" "v5.4.2"
github "Swinject/Swinject" "2.8.4"
#github "leif-ibsen/BigInt" "1.15.0"
